@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:#F6FAF8;
    color:#222;
    overflow-x:hidden;
}

a{
    text-decoration:none;
    color:inherit;
}

button{
    cursor:pointer;
    border:none;
    font-family:inherit;
}

.container{
    width:90%;
    max-width:1300px;
    margin:auto;
}

section{
    padding:90px 0;
}